@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100&display=swap');

@font-face {
    font-family: "searchbtn";
    src: url(/fonts/sf-ui-text-2-cufonfonts-webfont/SFUIText-Regular.woff);
}

@font-face {
    font-family: "saveursans";
    src: url(/fonts/Saveur_Sans_Round/Saveur_Sans_Round/SaveurSansRound-Regular.ttf);
}

@font-face {
    font-family: "unisans";
    src: url(/fonts/UniSansHeavyCAPS/Uni\ Sans\ Heavy.otf);
}

@font-face {
    font-family: "madrigal";
    src: url(/fonts/hunter-rising-cufonfonts/HunterRising-ywZ1M.ttf);
}

@font-face {
    font-family: "arial";
    src: url(./fonts/arial/arial.ttf);
}

@font-face {
    font-family: "yadayada";
    src: url(/fonts/CCYadaYadaYada.ttf);
}

@font-face {
    font-family: "premiersans";
    src: url(/fonts/Premier\ Sans.ttf);
}

@font-face {
    font-family: "arenzi";
    src: url(/fonts/arenzi.ttf);
}

#main-content {
    display: flex;
    flex-basis: auto;
    flex-wrap: wrap;
}

#left-page {
    flex: 1;
}

#right-page {
    flex: 1;
}

#center-page {
    flex: 2;
}

#slideshow-page {
    flex: 1 100%;
    height: 500px;
}

:root {
    --colorbgslideshow: rgba(29, 28, 28, 0.6);
    --backgroundbuttonswitchhover: rgba(255, 255, 255, 0.808);
    --bordermod3: rgba(255, 255, 255, 0.493);
    --bordermod2: white;
    --searchtext: white;
    --bordersearchbar: #898b8f;
    --primary-color: #1E1F22;
    --primary-color-cards: rgb(28,25,37);
    --primary-color-gradient: linear-gradient(90deg, rgba(28,25,37,1) 0%, rgba(0,0,0,1) 100%);
    --font-color: white;
    --logo-border-radius-color: white;
    --button-on-click-border: white;
    --background-img-url: url(./img/banner.png);
    --button-image: url(./img/discord-button1.png);
    --border-searchbar: transparent;
    --color-undertextmenu: white;
    --backgroundbuttonswitch: white;
    --ball-background: black;
    --hoverbuttonnewchap: #ece6e6;
    --borderimageallreleases: #3a3838;
    --starscolor: gold;
    --secondaryfontcolor: #dadada;
    --body-background-color: #2B2D31;
    --body-background-colortrans: #2b2d3183;
    --background-searchbutton: white;
    --background2: black;
    --borderdiscordlogo: white;
    --menubackground: #1e1f22a2;
    --hovermenubackground: #1e1f2200;
    --colorswitchlightbutton: #e8eaec;
    --primarycoloropacity: #1e1f22e8;
}

.light-theme {
    --colorbgslideshow: rgba(29, 28, 28, 0.6);
    --primarycoloropacity: #e8eaece3;
    --colorswitchlightbutton: #1E1F22;
    --backgroundbuttonswitchhover: rgba(0, 0, 0, 0.808);
    --bordermod3: rgba(68, 64, 64, 0.664);
    --bordermod2: black;
    --searchtext: black;
    --bordersearchbar: #595a5c;
    --primary-color: #e8eaec;
    --primary-color-gradient: linear-gradient(90deg, rgba(224,224,224,1) 0%, rgba(255,255,255,1) 100%);
    --font-color: black;
    --logo-border-radius-color: black;
    --button-on-click-border: black;
    --background-img-url: url(./img/banner-light-mode.png);
    --border-searchbar: gray;
    --color-undertextmenu: black;
    --button-image: url(./img/discord-button-lighttheme.png);
    --backgroundbuttonswitch: black;
    --ball-background: rgb(255, 255, 255);
    --hoverbuttonnewchap: #5c5858;
    --borderimageallreleases: #c2bcbc;
    --starscolor: rgb(238, 204, 13);
    --secondaryfontcolor: black;
    --body-background-color: #cacccea8;
    --body-background-colortrans: #caccce79;
    --background-searchbutton: black;
    --background2: white;
    --borderdiscordlogo: #202124;
    --menubackground: #e8eaec83;
    --hovermenubackground: #e8eaec00;
}

#lowerpartcard span {
    text-align: start;
}

#stars {
    text-align: start;
}

body {
    margin: 0px;
    position: relative;
    min-height: 100vh;
    background-color: var(--body-background-color);
}

header {
    display: flex;
    justify-content: space-between;
    min-height: 50px;
    padding: 20px;
    background: var(--primary-color);
    opacity: 0.8;
    backdrop-filter: blur(10px);
    flex-wrap: wrap;
}

.dark-mode {
    background-color: white;
}

#joindiscordbutton {
    background: var(--primary-color);
    background: var(--primary-color-gradient);
    width: 280px;
    height: 95px;
    border-radius: 16px;
    border: none;
    padding: 0px;
    animation-name: downscalebutton;
    animation-duration: 0.3s;
    display: none;
}

#joindiscordbutton:active {
    border: 2px solid var(--button-on-click-border);
}

footer {
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    padding: 20px;
    background: transparent;
    top: 100%;
    backdrop-filter: blur(10px);
    border-top: 2px solid var(--font-color);
}

ul {
    list-style-type: none;
    display: flex;
    margin-top: 25px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 30px;
}

a {
    text-decoration: none;
    color: var(--font-color);
}

#logo {
    height: 65px;
    border-radius: 50%;
    border: 3px solid var(--logo-border-radius-color);
}

.scaleuplogo {
    animation-name: scalelogo;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

.downscallogo {
    animation-name: downscalelogo;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

@keyframes scalelogo {
    to {border: 3px solid transparent; transform: scale(1.2);}
}

@keyframes downscalelogo {
    from {border: 3px solid transparent; transform: scale(1.2);}
    to {border: 3px solid var(--logo-border-radius-color); transform: scale(1);}
}

#logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

#joindiscordbutton img {
    width: 100%;
    height: 100%;
}

#joindiscordbutton:hover {
    cursor: pointer;
    animation-name: scalebutton;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.scalebutton {
    animation-name: scalebutton;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes scalebutton {
    from {transform: scale(1);}
    to {transform: scale(1.05);}
}

@keyframes downscalebutton {
    from {transform: scale(1.05);}
    to {transform: scale(1);}
}

#discordlogo {
    height: 50px;
}

main {
    text-align: center;
}

#slideshow-page {
    display: none;
}

#search-bar {
    background: var(--primary-color);
    background: var(--primary-color-gradient);
    margin-top: 30px;
    padding-left: 12px;
    width: 55%;
    height: 40px;
    border-radius: 12px;
    border: 2px solid var(--border-searchbar);
}

#search::placeholder {
    color: var(--font-color);
    font-family: "searchbtn";
    letter-spacing: 0px;
    font-size: 1.1em;
    color: #73767a;
}

#search:focus::placeholder {
    color: var(--searchtext);
}

#container, #containerphone {
    display: flex;
    justify-content: center;
    align-items: center;
}

#labelcheck {
    width: 95px;
    height: 50px;
    background-color: var(--primary-color);
    border-radius: 6px;
    display: flex;
    align-items: center;
    border: 1px solid var(--bordersearchbar);
}

#labelcheck:hover, #labelcheckphone:hover {
    cursor: pointer;
}

#ball {
    height: 40px;
    width: 40px;
    background: var(--colorswitchlightbutton);
    border-radius: 6px;
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform cubic-bezier(0.42, 0, 0.15, 1.28);
}

#check:checked + #labelcheck #ball {
    transform: translateX(44px);
}

#check, #checkphone {
    display: none;
}

#all-releases-container {
    display: flex;
    gap: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

@font-face {
    font-family: "evo";
    src: url(./fonts/evo-bq-bold/Evo\ BQ\ Bold.ttf);
}

@font-face {
    font-family: "arialbold";
    src: url(./fonts/FontsFree-Net-ArialCEBold.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

#card-container {
    height: 450px;
    width: 230px;
    border-radius: 6px;
}

.phonemenu {
    display: none;
}

@keyframes scaleupcardcontainer {
    to {transform: scale(1.02);}
}

@keyframes downscalecardcontainer {
    from {transform: scale(1.02)}
    to {transform: scale(1);}
}

#card-container:hover {
    cursor: pointer;
}

.scaleupcardcontainer {
    animation-name: scaleupcardcontainer;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

.downscalecardcontainer {
    animation-name: downscalecardcontainer;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
}

#image-container {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 72.5%;
}

#image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
}

#type {
    position: absolute;
    bottom: 4px;
    left: 4px;
    background-color: #242835;
    color: white;
    padding: 7px;
    font-family: "evo";
    border-radius: 6px;
}

#language {
    position: absolute;
    top: 4px;
    left: 4px;
    background-color: #a12e24;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    font-family: "Bebas Neue";
    font-weight: 100;
    font-size: 1.5em;
    padding-top: 2px;
    border-radius: 6px;
}

#title {
    color: var(--font-color);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.15em;
}

#genres {
    color: #a8a4a4;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.65em;
}

#newestchap { 
    color: var(--font-color);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.85em;
}

#newestchap:hover {
    cursor: pointer;
    color: var(--hoverbuttonnewchap);
} 

#title, #genres, #newestchap, .fa-star {
    padding-left: -15px;
}

.fa-star {
    color: var(--starscolor);
}

.allreleasestext {
    color: var(--secondaryfontcolor);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    transition: color 0.2s ease-in-out;
}

#phone-header {
    display: none;
}

#rightside {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.searchbar-container {
    width: 400px;
    height: 50px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    border: 1px solid var(--bordersearchbar);
}

.searchbar-container:focus-within {
    transition: 0.1s;
    border: 2px solid var(--bordermod2);
    outline: 3px solid var(--bordermod3);
    width: 395px;
    height: 45px;
}

#ball1 {
    width: 0%;
    height: 93.5%;
    border-radius: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

#dropdownmenu {
    min-height: 50px;
    width: 50px;
    cursor: pointer;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    border: 1px solid var(--bordersearchbar);
}

.fa-bars {
    color: var(--font-color);
}

.menu {
    display: grid;
    grid-template-rows: 0px;
    transition: grid-template-rows cubic-bezier(0.42, 0, 0.28, 1.2);  
    transition-duration: 0.5s;
    gap: 0px;
}

#menu-elements {
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.show {   
    grid-template-rows: 75px;
}

.menu-link {
    height: 100%;
    width: 25%;
    background-color: var(--menubackground);
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 3px solid var(--bordermod2);
    color: var(--font-color);
    font-size: 1.3rem;
    font-family: "arial";
}

.rightside {
    border-right: none;
}

.menu-link:hover {
    background-color: var(--hovermenubackground);
}

#search {
    width: 100%;
    height: 90%;
    border-radius: 200px 200px 200px 200px;
    padding-left: 15px;
    border: none;
    background-color: transparent;
    color: var(--font-color);
}

#search:focus + #ball1 {
    transition: width 0.3s ease-in-out;
    width: 15%;
}

#search:focus + #ball1 .fa-magnifying-glass {
    color: var(--font-color);
}

#search:focus {
    outline: none;
}

.fa-magnifying-glass {
    color: transparent;
}

#lowerpartcard {
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 5px;
}

#stars span {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    color: #a8a4a4;
}

.discord-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 25px;
    right: 25px;
    cursor: pointer;
    border: 2px solid var(--borderdiscordlogo);
    border-radius: 50%;
    background-color: transparent;
}

.discord-logoscrolled {
    position: absolute;
    bottom: 147px;
}

.fa-discord {
    color: var(--borderdiscordlogo);
}

.discord-logo:hover {
    transition: 0.5s;
    background-color: #8c9eff;
    color: white;
    border: 2px solid transparent;
}

.discord-logo:hover .fa-discord {
    transition: 0.5s;
    color: white;
}

.discordlogoscaledown {
    animation: discordlogoscaledown;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
}

.discordlogscaleup {
    animation: discordlogoscaleup;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
}

.currentpage {
    background-color: var(--hovermenubackground);
}

#logotext {
    color: var(--font-color);
    font-family: "madrigal";
    font-size: 2.5em;
    cursor: pointer;
}

@keyframes discordlogoscaledown {
    from {transform: scale(1.1);}
    to {transform: scale(1);}
}

@keyframes discordlogoscaleup {
    from {transform: scale(1);}
    to {transform: scale(1.1);}
}

#suggestionform {
    color: var(--font-color);
    font-family: "arial";
    font-weight: 100;
}

#searchbarphone {
    display: none;
}

#searchbarphonecontainer {
    display: none;
}

::-webkit-scrollbar-track {
    background-color: var(--primary-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--font-color);
    border-radius: 24px;
}

::-webkit-scrollbar {
    width: 0.3em;
    border-radius: 50%;
}

@media (max-width: 565px) {
    #desktop-header {
        display: none;
    }

    #phone-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: nowrap;
        max-height: 0.625rem;
        padding: 0.313rem;
    }

    #search:focus + #ball1 {
        transition: width 0.3s ease-in-out;
        width: 40%;
    }

    .fa-magnifying-glass {
        color: var(--font-color);
    }

    #searchcontainer {
        display: flex;
        width: 1.875rem;
        height: 1.875rem;
        justify-content: center;
        align-items: center;
        background-color: var(--primary-color);
        border: 1px solid var(--bordersearchbar);
        border-radius: 0.375rem;
        cursor: pointer;
    }

    #menudesktop {
        display: none;
    }

    #searchbarphone {
        margin: auto;
        display: initial;
        border-radius: 0.375rem;
        background-color: var(--primary-color);
        border: 1px solid var(--bordersearchbar);
        color: var(--font-color);
        padding-left: 0.625rem;
        height: 1.875rem;
        width: 18.625rem;
        overflow: hidden;
    }

    #searchbarphone:focus {
        outline: none;
        overflow: hidden;
    }

    .searchbarphonecontainer {
        display: grid;
        grid-template-rows: 0px;
        transition: grid-template-rows 0.5s ease-out;
        background-color: var(--menubackground);
    }

    .searchbarphonecontainer-open {
        grid-template-rows: 3.125rem;
    }

    .insidehere {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    #dropdownmenuphone {
        min-height: 1.875rem;
        width: 1.875rem;
        cursor: pointer;
        border-radius: 0.375rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--primary-color);
        border: 1px solid var(--bordersearchbar);
        z-index: 1;
    }

    #labelcheckphone {
        width: 3.563rem;
        height: 1.875rem;
        background-color: var(--primary-color);
        border-radius: 0.375rem;
        display: flex;
        align-items: center;
        border: 1px solid var(--bordersearchbar);
    }

    #ballphone {
        height: 1.25rem;
        width: 1.25rem;
        background: var(--colorswitchlightbutton);
        border-radius: 0.375rem;
        margin-left: 0.313rem;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: transform cubic-bezier(0.42, 0, 0.15, 1.28);
    }

    #checkphone:checked + #labelcheckphone #ballphone {
        transform: translateX(1.75rem);
    }

    #logo {
        height: 1.875rem;
        width: 1.875rem;
        border: 2px solid var(--logo-border-radius-color);
    }

    .phonemenu {
        display: grid;
        grid-template-rows: 0rem;
        position: absolute;
        top: 2.75rem;
        background-color: var(--primarycoloropacity);
        left: 0px;
        padding-left: 0px;
        z-index: 1;
        transition: grid-template-rows 0.5s ease-in-out;
    }

    .phonemenushow {
        grid-template-rows: 16.875rem;
    }

    .fixedphonemenu {
        position: fixed;
        top: -1rem;
    }

    #menutext {
        font-size: 1.4rem;
        color: white;
    }

    #topside {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .inner {
        overflow: hidden;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        width: 18.75rem;
        gap: 1.875rem;
        font-family: "arial";
        color: white;
        opacity: 1;
    }

    #toppart {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #toppart h1 {
        font-size: 1.3rem;
        font-weight: 100;
        color: var(--font-color);
    }

    .fa-xmark {
        color: var(--font-color);
    }

    #leftsidephone {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.25rem;
        padding-left: 0.625rem;
    }

    #rightsidephone {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.25rem;
        padding-right: 0.625rem;
    }

    #closemenubutton {
        background-color: transparent;
        border: none;
    }

    #main-content {
        flex-direction: column;
        gap: 0.625rem;
    }

    #center-page {
        order: 1;
    }

    #left-page {
        order: 2;
        height: 18.75rem;
    }

    #right-page {
        order: 3;
    }

    .discord-logo {
        display: none;
    }

    #card-container {
        height: 21.094rem;
        width: 10.781rem;
        border-radius: 0.375rem;
    }

    .menu-element {
        position: relative;
        left: -18.75rem;
        padding-left: 1.25rem;
        padding-right: 1.25rem;
        opacity: 0;
        visibility: hidden;
        color: var(--font-color);
        transition: 0.2s ease-in-out;
        transition-delay: calc(0.1s * var(--i));
    }

    .inner.active .menu-element {
        left: 0px;
        opacity: 1;
        visibility: visible;
    }

    .searchbarphonecontainer, #main-content {
        z-index: 0;
    }

    .opacity {
        opacity: 0;
        transition: opacity 0.2s ease-in-out;
        background-color: rgba(0, 0, 0, 0.5);
        position: absolute;
    }

    .menuopen {
        height: 100%;
        width: 100%;
        z-index: 1;
        opacity: 1;
    }

    .phonemenu {
        z-index: 2;
    }

    #phone-header {
        z-index: 2;
    }

    #slideshow-page {
        margin-top: 0px;
        display: flex;
        min-height: 18.75rem;
        overflow-y: hidden;
        overflow-x: scroll;
        position: relative;
        justify-content: center;
        align-items: center;
        scroll-snap-type: x mandatory;
    }

    #image-slider {
        top: 0px;
        position: absolute;
        padding: 0px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 0px;
        width: 100%;
        flex-wrap: nowrap;
        right: 0vw;
        margin-top: 0px;
        margin-bottom: 0px;
        z-index: 0;
        transition: right 0.3s ease-in-out;
    }

    .slideshowelement {
        scroll-snap-align: start;
        height: 18.75rem;
        min-width: 100vw;
    }
    
    #slideshowswitchers {
        z-index: 1;
    }

    .buttonswitcher {
        border-radius: 0.75rem;
        height: 0.75rem;
        width: 0.75rem;
        border: none;
        background-color: var(--primary-color);
        margin: 0.188rem;
        border: 0.5px solid var(--bordersearchbar);
    }

    .selectedbutton {
        transition: width 0.1s ease-in;
        background: var(--font-color);
        width: 1.25rem;
        border-radius: 0.625rem;
    }

    ::-webkit-scrollbar {
       display: none;
    }

    .allreleasestext {
        font-size: 1.4rem;
    }

    #language {
        position: absolute;
        top: 0.25rem;
        left: 0.25rem;
        background-color: #a12e24;
        color: white;
        padding-left: 0.625rem;
        padding-right: 0.625rem;
        font-family: "Bebas Neue";
        font-weight: 100;
        font-size: 1.5rem;
        padding-top: 0.125rem;
        border-radius: 0.375rem;
    }

    .textcontainerslideshow {
        padding-right: 1rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        position: relative;
    }

    .toppartslideshow {
        text-align: start;
    }

    .textcontainerslideshow .fa-star {
        display: flex;
        align-items: center;
        float: left;        
        left: 1rem;
        height: 3.25rem;
    }

    .textcontainerslideshow {
        font-size: 0.9em;
        padding-left: 1rem;
    }

    .toppartslideshow{
        display: flex;
        justify-content: center;
        margin-left: 1rem;
        margin-top: 0.5rem;
        color: var(--font-color);  
        text-align: center;
        font-size: 2rem;
    }

    .slideshowelement {
        display: flex;
        background-size: cover;
    }

    .elem1 {
        background-image: url(/img/slideshow1.png);
    }

    .elem2 {
        background-image: url(/img/slideshow2.jpg);
    }

    .elem3 {
        background-image: url(/img/slideshow3.webp);
    }

    .elem4 {
        background-image: url(/img/slideshow4.png);
    }

    .elem5 {
        background-image: url(/img/slideshow5.jpg);
    }

    .backdrop {
        display: flex;
        min-width: 100%;
        min-height: 100%;
        background: var(--colorbgslideshow);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(4.6px);
        -webkit-backdrop-filter: blur(4.6px);
        border: 1px solid rgba(29, 28, 28, 0.3);
    }

    .title-slideshow {
        font-family: "melody";
    }

    .summaryslideshow, .authorslideshow, .statusslideshow{
        font-size: 0.8em;
    }

    .type-slideshow {
        font-family: "arenzi";
        color: gold;
    }

    .imgcontainer {
        min-width: 30%;
        max-height: 100%;
        padding: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .imgcontainer img {
        max-width: 100%;
        height: 80%;
        border-radius: 0.375rem;
        box-shadow: 0px 0px 5px #1E1F22;
    }

    .slideshowtitle, .slideshowtype {
        font-family: "Fira Sans";
        font-size: 1rem;
        text-align: start;
        margin: 0;
        padding-left: 0.625rem;
        font-weight: 300;
        color: white;
        text-overflow: ellipsis;
        overflow: hidden;
        max-height: 1.875rem;
        line-height: 1.625rem;
    }

    .slideshowtitle a, .slideshowtitle a {
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .slideshowtype {
        color: gold;
        letter-spacing: 2px;
    }

    .summarytext {
        font-weight: 900;
    }

    .textcontainerslideshow {
        max-width: 70%;
        margin-top: auto;
        margin-bottom: auto;
    }

    .slideshowelement img {
        object-fit: fill;
    }

    .genreslideshow, .summarytext, .summary, .author {
        font-family: "Fira Sans";
        color: white;
        text-align: start;
        max-width: 100%;
    }
}
