@font-face {
    font-family: "searchbtn";
    src: url(/fonts/sf-ui-text-2-cufonfonts-webfont/SFUIText-Regular.woff);
}

@font-face {
    font-family: "saveursans";
    src: url(/fonts/Saveur_Sans_Round/Saveur_Sans_Round/SaveurSansRound-Regular.ttf);
}

@font-face {
    font-family: "unisans";
    src: url(/fonts/UniSansHeavyCAPS/Uni\ Sans\ Heavy.otf);
}

@font-face {
    font-family: "madrigal";
    src: url(/fonts/hunter-rising-cufonfonts/HunterRising-ywZ1M.ttf);
}

@font-face {
    font-family: "arial";
    src: url(./fonts/arial/arial.ttf);
}

:root {
    --bordermod3: rgba(255, 255, 255, 0.493);
    --bordermod2: white;
    --searchtext: white;
    --bordersearchbar: #898b8f;
    --primary-color: #1E1F22;
    --primary-color-cards: rgb(28,25,37);
    --primary-color-gradient: linear-gradient(90deg, rgba(28,25,37,1) 0%, rgba(0,0,0,1) 100%);
    --font-color: white;
    --logo-border-radius-color: white;
    --button-on-click-border: white;
    --background-img-url: url(./img/banner.png);
    --button-image: url(./img/discord-button1.png);
    --border-searchbar: transparent;
    --color-undertextmenu: white;
    --backgroundbuttonswitch: white;
    --ball-background: black;
    --hoverbuttonnewchap: #ece6e6;
    --borderimageallreleases: #3a3838;
    --starscolor: gold;
    --secondaryfontcolor: #dadada;
    --body-background-color: #2B2D31;
    --background-searchbutton: white;
    --background2: black;
    --borderdiscordlogo: white;
}

.light-theme {
    --bordermod3: rgba(68, 64, 64, 0.664);
    --bordermod2: black;
    --searchtext: black;
    --bordersearchbar: #595a5c;
    --primary-color: #e8eaec;
    --primary-color-gradient: linear-gradient(90deg, rgba(224,224,224,1) 0%, rgba(255,255,255,1) 100%);
    --font-color: black;
    --logo-border-radius-color: black;
    --button-on-click-border: black;
    --background-img-url: url(./img/banner-light-mode.png);
    --border-searchbar: gray;
    --color-undertextmenu: black;
    --button-image: url(./img/discord-button-lighttheme.png);
    --backgroundbuttonswitch: black;
    --ball-background: rgb(255, 255, 255);
    --hoverbuttonnewchap: #5c5858;
    --borderimageallreleases: #c2bcbc;
    --starscolor: rgb(238, 204, 13);
    --secondaryfontcolor: black;
    --body-background-color: #cacccea8;
    --background-searchbutton: black;
    --background2: white;
    --borderdiscordlogo: #202124;
}

body {
    margin: 0px;
    position: relative;
    min-height: 100vh;
    background-color: var(--body-background-color);
}

header {
    display: flex;
    justify-content: space-between;
    min-height: 50px;
    padding: 20px;
    background: var(--primary-color);
    opacity: 0.8;
    backdrop-filter: blur(10px);
    flex-wrap: wrap;
}

.dark-mode {
    background-color: white;
}

#joindiscordbutton {
    background: var(--primary-color);
    background: var(--primary-color-gradient);
    width: 280px;
    height: 95px;
    border-radius: 16px;
    border: none;
    padding: 0px;
    animation-name: downscalebutton;
    animation-duration: 0.3s;
    display: none;
}

#joindiscordbutton:active {
    border: 2px solid var(--button-on-click-border);
}

footer {
    border-top: 2px solid var(--font-color);
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    padding: 20px;
    background: transparent;
    top: 100%;
    backdrop-filter: blur(10px);
}

ul {
    list-style-type: none;
    display: flex;
    margin-top: 25px;
    flex-wrap: wrap;
    gap: 30px;
}

a {
    text-decoration: none;
    color: var(--font-color);
}

#logo {
    height: 65px;
    border-radius: 50%;
    border: 3px solid var(--logo-border-radius-color);
}

.scaleuplogo {
    animation-name: scalelogo;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

.downscallogo {
    animation-name: downscalelogo;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

@keyframes scalelogo {
    to {border: 3px solid transparent; transform: scale(1.2);}
}

@keyframes downscalelogo {
    from {border: 3px solid transparent; transform: scale(1.2);}
    to {border: 3px solid var(--logo-border-radius-color); transform: scale(1);}
}

#logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

span {
    color: var(--font-color);
    font-family: "madrigal";
    font-size: 2.5em;
}

#joindiscordbutton img {
    width: 100%;
    height: 100%;
}

#joindiscordbutton:hover {
    cursor: pointer;
    animation-name: scalebutton;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.scalebutton {
    animation-name: scalebutton;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes scalebutton {
    from {transform: scale(1);}
    to {transform: scale(1.05);}
}

@keyframes downscalebutton {
    from {transform: scale(1.05);}
    to {transform: scale(1);}
}

#discordlogo {
    height: 50px;
}

#night-light-mode {
    margin-top: 6px;
    height: 50px;
    width: 50px;
    background-color: rgb(0, 0, 0);
    border-radius: 40px;
    border: 4px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#night-light-mode:hover {
    cursor: pointer;
} 

#fa-moon {
    color: white;
}

main {
    text-align: center;
}

#search-bar {
    background: var(--primary-color);
    background: var(--primary-color-gradient);
    margin-top: 30px;
    padding-left: 12px;
    width: 55%;
    height: 40px;
    border-radius: 12px;
    border: 2px solid var(--border-searchbar);
}

input::placeholder {
    color: var(--font-color);
    font-family: "searchbtn";
    letter-spacing: 0px;
    font-size: 1.1em;
    color: #73767a;
}

input:focus::placeholder {
    color: var(--searchtext);
}

a:not(#newestchap) {
    position: relative;
    text-transform: capitalize;
    font-family: "arial";
    font-size: 1.3em;
}

a:not(#newestchap):after {
    content: "";
    position: absolute;
    width: 0%;
    height: 3px;
    background-color: var(--color-undertextmenu);
    top: 63px;
    left: 0px;
}

a:not(#newestchap):hover::after {
    transition: width 0.3s linear;
    width: 100%;
}

.currentpage {
    padding-bottom: 40px;
    border-bottom: 3px solid var(--color-undertextmenu);
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#labelcheck {
    width: 100px;
    height: 50px;
    background-color: var(--backgroundbuttonswitch);
    border-radius: 6px;
    display: flex;
    align-items: center;
}

#labelcheck:hover {
    cursor: pointer;
}

#ball {
    height: 40px;
    width: 40px;
    background: var(--primary-color);
    border-radius: 6px;
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s linear;
}

input:checked + #labelcheck #ball {
    transform: translateX(49px);
}

#check {
    display: none;
}

#all-releases {
    text-align: start;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 70%;
    min-height: 620px;
    color: var(--font-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#all-releases-container {
    min-height: 530px;
    display: flex;
    gap: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    border-radius: 12px;
    justify-content: center;
    align-items: center;
}

@font-face {
    font-family: "evo";
    src: url(./fonts/evo-bq-bold/Evo\ BQ\ Bold.ttf);
}

@font-face {
    font-family: "arialbold";
    src: url(./fonts/FontsFree-Net-ArialCEBold.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

#card-container {
    height: 450px;
    width: 230px;
    border-radius: 6px;
}

@keyframes scaleupcardcontainer {
    to {transform: scale(1.02);}
}

@keyframes downscalecardcontainer {
    from {transform: scale(1.02)}
    to {transform: scale(1);}
}

#card-container:hover {
    cursor: pointer;
}

.scaleupcardcontainer {
    animation-name: scaleupcardcontainer;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

.downscalecardcontainer {
    animation-name: downscalecardcontainer;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
}

#image-container {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 72.5%;
}

#image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
}

#type {
    position: absolute;
    bottom: 4px;
    left: 4px;
    background-color: #242835;
    color: white;
    padding: 7px;
    font-family: "evo";
    border-radius: 6px;
}

#language {
    position: absolute;
    top: 4px;
    left: 4px;
    background-color: #a12e24;
    color: white;
    padding: 10px;
    padding-bottom: 1px;
    padding-top: 1px;
    font-family: "Bebas Neue";
    font-weight: 100;
    font-size: 1.5em;
    border-radius: 6px;
}

#title {
    color: var(--font-color);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.15em;
}

#genres {
    color: #a8a4a4;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.65em;
}

#newestchap { 
    color: var(--font-color);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.85em;
}

#newestchap:hover {
    cursor: pointer;
    color: var(--hoverbuttonnewchap);
} 

#title, #genres, #newestchap, .fa-star {
    padding-left: 0px;
}

.fa-star {
    color: var(--starscolor);
}

#allreleasestext {
    color: var(--secondaryfontcolor);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}

#searchbarcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#rightside {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.searchbar-container {
    width: 400px;
    height: 50px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    border: 1px solid var(--bordersearchbar);
}

.focusinput {
    transition: 0.1s;
    border: 2px solid var(--bordermod2);
    outline: 4px solid var(--bordermod3);
}

#ball1 {
    width: 0%;
    height: 93.5%;
    border-radius: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

#search {
    width: 100%;
    height: 90%;
    border-radius: 200px 200px 200px 200px;
    padding-left: 15px;
    border: none;
    background-color: transparent;
    color: var(--font-color);
    letter-spacing: -20px;
}

#search:focus + #ball1 {
    transition: width 0.2s linear;
    width: 20%;
}

#search:focus + #ball1 .fa-magnifying-glass {
    color: var(--font-color);
}

#search:focus {
    outline: none;
}

.fa-magnifying-glass {
    color: transparent;
}

#lowerpartcard {
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#stars span {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    color: #a8a4a4;
}

#discord-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 25px;
    right: 25px;
    cursor: pointer;
    border: 2px solid var(--borderdiscordlogo);
    border-radius: 50%;
    background-color: transparent;
}

.fa-discord {
    color: var(--borderdiscordlogo);
}

#discord-logo:hover {
    transition: 0.5s;
    background-color: #8c9eff;
    color: white;
    border: 2px solid transparent;
}

#discord-logo:hover .fa-discord {
    transition: 0.5s;
    color: white;
}

.discordlogoscaledown {
    animation: discordlogoscaledown;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
}

.discordlogscaleup {
    animation: discordlogoscaleup;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
}

@keyframes discordlogoscaledown {
    from {transform: scale(1.1);}
    to {transform: scale(1);}
}

@keyframes discordlogoscaleup {
    from {transform: scale(1);}
    to {transform: scale(1.1);}
}

@media (max-width: 960px) { /* when the width is less than 30em, make both of the widths 100% */
    header, footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 35px;
    }
}

@media (max-width: 565px) {
    .currentpage {
        padding-bottom: 40px;
        border-bottom: 3px solid transparent;
    }

    ul {
        font-size: 0.9rem;
    }

    #joindiscordbutton {
        width: 100px;
        height: 50px;
    }
}
